


body{ 
   overflow-x: hidden ;

}

.encabezado{
    color: #7C06C0;
}
.cards {
max-height: 450px;
}
.corousel-inner{
    max-height: 39rem;
}


.oscura {
    background: rgba(0, 0, 0, 0%);
}

@media(min-width:786px) {
    #cursos{
        width: 60% !important;

    }
}

@media (min-width:426px) {
    #cursos{
        width: 80% !important;
    }
}
@media (min-Width:2560px){
    #cursos{
        width: 51% !important;
    }
}
@media (prefers-color-scheme: dark) {
   .body.dark-scheme {
    height: 100%;
    background: rgba(0, 0, 0, 0.89);
    color: white;
   } 
}

/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:rgb(252, 252, 252);
    height:200px;
    width:300px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  

  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }


